doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Architecture
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		// Header
		header.header#home
			.header__wrapper.wrapper
				.header__left
					.header__hamburger
						.header__hamburger-elem
					a.prevdef.header__logo(href="#") BE Arc
					nav.header__menu
						a.prevdef.header__menu-link(href="#about") About
						a.prevdef.header__menu-link(href="#projects") Projects
						a.prevdef.header__menu-link(href="#we-do") What We Do
						a.prevdef.header__menu-link(href="#clients") Our Clients
				.header__right
					a.prevdef.header__address(href="#") 888 Brannan street/ San Francisco.California
					.header__socials-container
						a.prevdef.header__social-link.header__facebook(href="#")
							svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-2x")
								path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
						a.prevdef.header__social-link.header__google-plus(href="#")
							svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google-plus-g" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-google-plus-g fa-w-20 fa-2x")
								path(fill="currentColor" d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
						a.prevdef.header__social-link.header__twitter(href="#")
							svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-2x")
								path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
						a.prevdef.header__social-link.header__behance(href="#")
							svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="behance" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-behance fa-w-18 fa-2x")
								path(fill="currentColor" d="M232 237.2c31.8-15.2 48.4-38.2 48.4-74 0-70.6-52.6-87.8-113.3-87.8H0v354.4h171.8c64.4 0 124.9-30.9 124.9-102.9 0-44.5-21.1-77.4-64.7-89.7zM77.9 135.9H151c28.1 0 53.4 7.9 53.4 40.5 0 30.1-19.7 42.2-47.5 42.2h-79v-82.7zm83.3 233.7H77.9V272h84.9c34.3 0 56 14.3 56 50.6 0 35.8-25.9 47-57.6 47zm358.5-240.7H376V94h143.7v34.9zM576 305.2c0-75.9-44.4-139.2-124.9-139.2-78.2 0-131.3 58.8-131.3 135.8 0 79.9 50.3 134.7 131.3 134.7 61.3 0 101-27.6 120.1-86.3H509c-6.7 21.9-34.3 33.5-55.7 33.5-41.3 0-63-24.2-63-65.3h185.1c.3-4.2.6-8.7.6-13.2zM390.4 274c2.3-33.7 24.7-54.8 58.5-54.8 35.4 0 53.2 20.8 56.2 54.8H390.4z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")

		// Main
		.main
			.main__wrapper.wrapper
				.main__left
					p.main__sky-paragraph Sky
					p.main__paragraph.main__paragraph1 Be heaven
					p.main__paragraph.main__paragraph2 Your Architecture
				.main__right
					.main__slider
						.main__slide.main__slide1
							.main__project-description
								p.main__project-name Building
								a.prevdef.main__project-link(href="#") See project >
							p.main__project-counter 01/#[span 03]
						.main__slide.main__slide2
							.main__project-description
								p.main__project-name Building
								a.prevdef.main__project-link(href="#") See project >
							p.main__project-counter 02/#[span 03]
						.main__slide.main__slide3
							.main__project-description
								p.main__project-name Building
								a.prevdef.main__project-link(href="#") See project >
							p.main__project-counter 03/#[span 03]

		// About Us
		.about#about
			.about__wrapper.wrapper
				img.about__image(src="assets/about__pic.webp", alt="pic")
				.about__text-container
					h2.about__section-name About Us
					p.about__paragraph.about__paragraph1 Welcome to BeArc Architecture
					p.about__paragraph.about__paragraph2 For us, design the means. The starting points are goals,strategies and expe-tations, but it transcends them to create a new and better reality. Design is transformative. For us, designis the means. The staring points are goals, strate-gies and expectations, but is transcends them to create a new and better reality. Design is transformative
					.about__experience-container
						p.about__experience-years 18
						p.about__experience-paragraph Years Experience working

		// Lastest Projects
		.projects#projects
			.projects__wrapper.wrapper
				h2.projects__section-name Lastest Projects
				nav.projects__tabs-container
					a.projects__tab.ajax.active(href="index.html") All
					a.projects__tab.ajax(href="resort.html") Resort
					a.projects__tab.ajax(href="luxury-hotel.html") Luxury Hotel
					a.projects__tab.ajax(href="tower.html") Tower
					a.prevdef.projects__tab.projects__see-all-link(href="#" target="_blank") See all projects >
				.projects__content-container
					.projects__content
						.projects__slider
							.projects__slide.projects__slide1
								.projects__item.projects__item1
									.projects__pic.projects__pic1
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Becam Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Becam Hotel
								.projects__item.projects__item2
									.projects__pic.projects__pic2
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Cadillac House
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Cadillac House
								.projects__item.projects__item3
									.projects__pic.projects__pic3
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Luxury Love Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Luxury Love Hotel
								.projects__item.projects__item4
									.projects__pic.projects__pic4
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Tonten Tower
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Tonten Tower
							.projects__slide.projects__slide2
								.projects__item.projects__item5
									.projects__pic.projects__pic5
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Becam Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Becam Hotel
								.projects__item.projects__item6
									.projects__pic.projects__pic6
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Cadillac House
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Cadillac House
								.projects__item.projects__item7
									.projects__pic.projects__pic7
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Luxury Love Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Luxury Love Hotel
								.projects__item.projects__item8
									.projects__pic.projects__pic8
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Tonten Tower
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Tonten Tower
							.projects__slide.projects__slide3
								.projects__item.projects__item9
									.projects__pic.projects__pic9
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Becam Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Becam Hotel
								.projects__item.projects__item10
									.projects__pic.projects__pic10
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Cadillac House
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Cadillac House
								.projects__item.projects__item11
									.projects__pic.projects__pic11
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Luxury Love Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Luxury Love Hotel
								.projects__item.projects__item12
									.projects__pic.projects__pic12
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Tonten Tower
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Tonten Tower

		// What We Do
		.we-do#we-do
			.we-do__wrapper.wrapper
				.we-do__text-container
					h2.we-do__section-name What We Do
					p.we-do__paragraph.we-do__paragraph1 Be heaven Your Architecture
					p.we-do__paragraph.we-do__paragraph2 For us, design the means. The starting points are goals,strategies and expe-tations, but it transcends them to create a new and better reality. Design is transformative. For us, designis the means.
					.we-do__options-container
						.we-do__option.we-do__option1
							p.we-do__option-name Consulting
						.we-do__option.we-do__option2
							p.we-do__option-name Consulting
						.we-do__option.we-do__option3
							p.we-do__option-name Interior Design
						.we-do__option.we-do__option4
							p.we-do__option-name Product Design
					a.prevdef.we-do__see-more-link(href="#") See more >
				img.we-do__image(src="assets/we-do__image.webp", alt="pic")

		// Clients
		.clients#clients
			.clients__wrapper.wrapper
				h2.clients__section-name Our Clients & Testerminal
				.clients__slider-container
					.clients__slider
						.clients__slide.clients__slide1
							img.clients__client-pic.clients__client-pic1(src="assets/clients__client-pic.webp", alt="pic")
							.clients__text-container
								p.clients__client-name Antonio Hernandez
								p.clients__company-name NASA
								p.clients__client-review Love is like a butterfly, the more you chase it, the more it will elude you. But if you turn your attention towards other things it will come and softly sit on your shoulder.
								.clients__brands
									.clients__brand.clients__brand1
									.clients__brand.clients__brand2
									.clients__brand.clients__brand3
									.clients__brand.clients__brand4
						.clients__slide.clients__slide2
							img.clients__client-pic.clients__client-pic2(src="assets/clients__client-pic.webp", alt="pic")
							.clients__text-container
								p.clients__client-name Antonio Hernandez
								p.clients__company-name NASA
								p.clients__client-review Love is like a butterfly, the more you chase it, the more it will elude you. But if you turn your attention towards other things it will come and softly sit on your shoulder.
								.clients__brands
									.clients__brand.clients__brand1
									.clients__brand.clients__brand2
									.clients__brand.clients__brand3
									.clients__brand.clients__brand4
						.clients__slide.clients__slide3
							img.clients__client-pic.clients__client-pic3(src="assets/clients__client-pic.webp", alt="pic")
							.clients__text-container
								p.clients__client-name Antonio Hernandez
								p.clients__company-name NASA
								p.clients__client-review Love is like a butterfly, the more you chase it, the more it will elude you. But if you turn your attention towards other things it will come and softly sit on your shoulder.
								.clients__brands
									.clients__brand.clients__brand1
									.clients__brand.clients__brand2
									.clients__brand.clients__brand3
									.clients__brand.clients__brand4

		// Blog
		.blog
			.blog__wrapper.wrapper
				.blog__section-name-n-see-more-container
					h2.blog__section-name New & Blog
					a.prevdef.blog__see-more-link(href="#") See more >
				.blog__content
					a.prevdef.blog__item.blog__item1(href="#")
						img.blog__image.blog__image1(src="assets/blog__image1.webp", alt="pic")
						p.blog__paragraph There are many variations
					a.prevdef.blog__item.blog__item2(href="#")
						img.blog__image.blog__image2(src="assets/blog__image2.webp", alt="pic")
						p.blog__paragraph There are many variations
					a.prevdef.blog__item.blog__item3(href="#")
						img.blog__image.blog__image3(src="assets/blog__image3.webp", alt="pic")
						p.blog__paragraph There are many variations

		// Footer
		footer.footer
			.footer__wrapper.wrapper
				.footer__block.footer__block1
					a.prevdef.footer__logo(href="#") BE Arc
					a.prevdef.footer__copy(href="#") &copy;BeArt All Rights Resevered 888 Brannan Street / San Francisco, California
				.footer__block.footer__block2
						ul.footer__list
							li.footer__list-item
								a.prevdef.footer__list-link(href="#") Term & Condition
							li.footer__list-item
								a.prevdef.footer__list-link(href="#") Privacy Policy
							li.footer__list-item
								a.prevdef.footer__list-link(href="#") Help
							li.footer__list-item
								a.prevdef.footer__list-link(href="#") Comunication
				.footer__block.footer__block3
					ul.footer__menu
						li.footer__menu-list-item
							a.prevdef.footer__menu-link(href="#") About
						li.footer__menu-list-item
							a.prevdef.footer__menu-link(href="#") Service
						li.footer__menu-list-item
							a.prevdef.footer__menu-link(href="#") Contact
				.footer__block.footer__block4
						.footer__select-container
							select.footer__select#language(name="language")
								option.footer__option(value="en" selected) En
								option.footer__option(value="rus") Ru
							p.footer__select-paragraph Select Language:
							.footer__fake-select-container
								.footer__fake-select En
								.footer__fake-options-container
									.footer__fake-option.active En
									.footer__fake-option Ru
						.footer__socials-container
							a.prevdef.footer__social-link.footer__facebook(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-2x")
									path(fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.footer__social-link.footer__google-plus(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google-plus-g" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-google-plus-g fa-w-20 fa-2x")
									path(fill="currentColor" d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.footer__social-link.footer__twitter(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-2x")
									path(fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")
							a.prevdef.footer__social-link.footer__behance(href="#")
								svg(aria-hidden="true" focusable="false" data-prefix="fab" data-icon="behance" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-behance fa-w-18 fa-2x")
									path(fill="currentColor" d="M232 237.2c31.8-15.2 48.4-38.2 48.4-74 0-70.6-52.6-87.8-113.3-87.8H0v354.4h171.8c64.4 0 124.9-30.9 124.9-102.9 0-44.5-21.1-77.4-64.7-89.7zM77.9 135.9H151c28.1 0 53.4 7.9 53.4 40.5 0 30.1-19.7 42.2-47.5 42.2h-79v-82.7zm83.3 233.7H77.9V272h84.9c34.3 0 56 14.3 56 50.6 0 35.8-25.9 47-57.6 47zm358.5-240.7H376V94h143.7v34.9zM576 305.2c0-75.9-44.4-139.2-124.9-139.2-78.2 0-131.3 58.8-131.3 135.8 0 79.9 50.3 134.7 131.3 134.7 61.3 0 101-27.6 120.1-86.3H509c-6.7 21.9-34.3 33.5-55.7 33.5-41.3 0-63-24.2-63-65.3h185.1c.3-4.2.6-8.7.6-13.2zM390.4 274c2.3-33.7 24.7-54.8 58.5-54.8 35.4 0 53.2 20.8 56.2 54.8H390.4z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;")

		// To Top
		a.prevdef.top(href="#home")

		

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]