doctype html
// [if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]
// [if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]
// [if IE 8]><html lang="ru" class="lt-ie9"><![endif]
// [if gt IE 8]><!
html(lang="ru")
	// <![endif]
	head
		title Architecture
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// OwlCarousel
		link(rel="stylesheet", href="libs/owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.theme.css")
		link(rel="stylesheet", href="libs/owl-carousel/owl.transitions.css")
		// Bootstrap
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-4.3.1.min.css")
		// General
		link(rel="shortcut icon" href="assets/!js.png" type="image/x-icon")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/keyframes.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet", href="css/media.css")
	body
		// Content Start

		// Lastest Projects
		.projects
			.projects__wrapper.wrapper
				h2.projects__section-name Lastest Projects
				nav.projects__tabs-container
					a.projects__tab.ajax.active(href="index.html") All
					a.projects__tab.ajax(href="resort.html") Resort
					a.projects__tab.ajax(href="luxury-hotel.html") Luxury Hotel
					a.projects__tab.ajax(href="tower.html") Tower
					a.prevdef.projects__tab.projects__see-all-link(href="#" target="_blank") See all projects >
				.projects__content-container
					.projects__content
						.projects__slider
							.projects__slide.projects__slide1
								.projects__item.projects__item1
									.projects__pic.projects__pic1
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Becam Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Becam Hotel
								.projects__item.projects__item2
									.projects__pic.projects__pic2
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Cadillac House
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Cadillac House
								.projects__item.projects__item3
									.projects__pic.projects__pic3
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Luxury Love Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Luxury Love Hotel
								.projects__item.projects__item4
									.projects__pic.projects__pic4
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Tonten Tower
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Tonten Tower
							.projects__slide.projects__slide2
								.projects__item.projects__item5
									.projects__pic.projects__pic5
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Becam Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Becam Hotel
								.projects__item.projects__item6
									.projects__pic.projects__pic6
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Cadillac House
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Cadillac House
								.projects__item.projects__item7
									.projects__pic.projects__pic7
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Luxury Love Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Luxury Love Hotel
								.projects__item.projects__item8
									.projects__pic.projects__pic8
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Tonten Tower
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Tonten Tower
							.projects__slide.projects__slide3
								.projects__item.projects__item9
									.projects__pic.projects__pic9
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Becam Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Becam Hotel
								.projects__item.projects__item10
									.projects__pic.projects__pic10
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Cadillac House
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Cadillac House
								.projects__item.projects__item11
									.projects__pic.projects__pic11
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Luxury Love Hotel
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Luxury Love Hotel
								.projects__item.projects__item12
									.projects__pic.projects__pic12
										.projects__text-container
											p.projects__paragraph.projects__paragraph1 Tonten Tower
											p.projects__paragraph.projects__paragraph2 New York, New York
											p.projects__paragraph.projects__paragraph3 Cadillac's historic headquarters relocation marks a new era for the iconic automaker. Beneath the headquarters in New York's Soho neighborhood, Cadillac House. Involved in the schematic and concept package for the experiential brand center - serves as a rotating space for events, concerts, and collaborative partnerships.
											a.prevdef.projects__see-project-link(href="#") See project >>
									p.projects__project-name Tonten Tower

		// Content End
		// Scripts
		// General
		script(src="libs/jquery/jquery-3.3.1.min.js")
		script(src="js/common.js")
		// Masked Input
		script(src="libs/masked-input/jquery.maskedinput.min.js")
		// PageScroll2id
		script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.min.js")
		// OwlCarousel
		script(src="libs/owl-carousel/owl.carousel.min.js")
		//  
				[if lt IE 9]>
				<script src="libs/html5shiv/es5-shim.min.js"></script>
				<script src="libs/html5shiv/html5shiv.min.js"></script>
				<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
				<script src="libs/respond/respond.min.js"></script>
				<![endif]